@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  font-family: "Inter", sans-serif;
  color: white;
}
html {
  overflow-x: hidden;
  margin: 0;
}
body {
  background: #111111;
  margin: 1.5rem auto 0 auto;
  padding: 0;
  width: 100%;
  max-width: 84vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.about .red-introduction-top-left {
  margin: 0;
  width: 3.69938rem;
  height: 3.69919rem;
  transform: rotate(-176.626deg);
  flex-shrink: 0;
  border-radius: 11.94569rem;
  opacity: 0.3499999940395355;
  background: linear-gradient(289deg, #c21925 0%, rgba(194, 25, 37, 0) 100%);
  filter: blur(7.0991621017456055px);
  position: absolute;
  top: 12%;
  left: 10.5%;
  overflow: hidden;
}

.about .red-introduction-top-right {
  width: 7.64525rem;
  height: 7.577rem;
  transform: rotate(14.035deg);
  flex-shrink: 0;
  border-radius: 11.94569rem;
  opacity: 0.44999998807907104;
  background: linear-gradient(157deg, #c21925 0%, rgba(194, 25, 37, 0) 100%);
  filter: blur(16.38268280029297px);
  position: absolute;
  top: 9%;
  left: 84%;
  margin: 0;
  overflow: hidden;
}

.about .red-introduction-top-middle {
  margin: 0;
  width: 33.57269rem;
  height: 33.57269rem;
  transform: rotate(62.375deg);
  flex-shrink: 0;
  border-radius: 33.57269rem;
  background: linear-gradient(
    290deg,
    rgba(194, 25, 37, 0.25) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  filter: blur(175px);
  position: absolute;
  top: 1%;
  left: 30.7%;
  overflow: hidden;
}

.about .red-introduction-bottom-left {
  margin: 0;
  width: 7.64525rem;
  height: 7.577rem;
  transform: rotate(14.035deg);
  flex-shrink: 0;
  border-radius: 11.94569rem;
  opacity: 0.44999998807907104;
  background: linear-gradient(157deg, #c21925 0%, rgba(194, 25, 37, 0) 100%);
  filter: blur(16.38268280029297px);
  position: absolute;
  top: 71%;
  left: 8.2%;
  overflow: hidden;
}

.about .red-introduction-bottom-right {
  margin: 0;
  width: 3.84106rem;
  height: 3.80681rem;
  transform: rotate(14.035deg);
  flex-shrink: 0;
  border-radius: 11.94569rem;
  opacity: 0.44999998807907104;
  background: linear-gradient(157deg, #c21925 0%, rgba(194, 25, 37, 0) 100%);
  filter: blur(16.38268280029297px);
  position: absolute;
  top: 76%;
  left: 86%;
  overflow: hidden;
}

.experience .red-experience {
  margin: 0;
  width: 31.29675rem;
  height: 31.29675rem;
  transform: rotate(62.375deg);
  flex-shrink: 0;
  border-radius: 31.29675rem;
  background: linear-gradient(
    290deg,
    rgba(194, 25, 37, 0.25) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  filter: blur(175px);
  position: absolute;
  top: 140%;
  left: -5%;
  overflow: hidden;
}

.skills .red-skills {
  margin: 0;
  width: 31.39975rem;
  height: 31.39975rem;
  transform: rotate(62.375deg);
  flex-shrink: 0;
  border-radius: 31.39975rem;
  background: linear-gradient(
    290deg,
    rgba(194, 25, 37, 0.25) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  filter: blur(175px);
  position: absolute;
  top: 140%;
  left: 70%;
  overflow: hidden;
}

.featured-projects .red-featured-projects {
  margin: 0;
  width: 37.2335rem;
  height: 37.2335rem;
  transform: rotate(62.375deg);
  border-radius: 37.2335rem;
  background: linear-gradient(
    290deg,
    rgba(194, 25, 37, 0.25) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  filter: blur(175px);
  position: absolute;
  top: 176%;
  left: 29%;
  overflow: hidden;
}

.contact-me .red-contact-me {
  margin: 0;
  width: 30.79656rem;
  height: 30.79656rem;
  transform: rotate(62.375deg);
  border-radius: 42.79656rem;
  background: linear-gradient(
    290deg,
    rgba(194, 25, 37, 0.25) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  filter: blur(175px);
  position: absolute;
  left: 0%;
  top: 10%;
  overflow: hidden;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  z-index: 99;
  width: 100%;
}

.introduction {
  display: flex;
  height: 46.0625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 65vw;
  margin-bottom: 6rem;
}

.introduction-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.details h1 {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  text-align: center;
  font-size: 4.3125rem;
  margin: 0;
}

.details p {
  color: #b6b3b3;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  line-height: 169.023%;
}

.socials {
  display: flex;
  align-items: flex-start;
  gap: 1.1rem;
}

.socials .frame {
  border-radius: 1000px;
  background: rgba(253, 251, 251, 0.05);
  display: flex;
  width: 3.4rem;
  height: 3.4rem;
  padding: 0.5rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.socials .frame img {
  background: none;
  margin: 0;
}

.experience-and-skills {
  display: flex;
  /* align-items: flex-start; */
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  gap: 2rem;
  margin-bottom: 6rem;
}

.experience-and-skills h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

.experience-and-skills h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.experience-and-skills p {
  color: #b6b3b3;
  font-size: 1rem;
  margin: 0.3rem 0.5rem 0.5rem 0rem;
}

.experience {
  width: 35.5vw;
  display: flex;
  padding: 2rem 2.4375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  border-radius: 2rem;
  background: rgba(253, 251, 251, 0.05);
}

.experience-and-skills h3 {
  margin: 0;
}

.experience-and-skills p {
  margin: 0;
}

.experience-and-skills-header {
  display: flex;
  padding: 0.5rem 1.5625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.3125rem;
  background: #c21925;
  font-size: 1.75rem;
  text-align: center;
}

.experience-and-skills-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
}

.skills {
  width: 35.5vw;
  min-height: fit-content;
  display: flex;
  padding: 2rem 2.4375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  border-radius: 2rem;
  background: rgba(253, 251, 251, 0.05);
}

.skills-header {
  border-radius: 0.3125rem;
  background: #c21925;
  display: flex;
  padding: 0.01rem 1.5625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.featured-projects {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  flex-shrink: 0;
  /* margin-bottom: 6rem; */
  z-index: 99;
  margin-bottom: 6rem;
}

.featured-projects-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.featured-projects-title-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-projects-title-content p {
  color: #c21925;
  font-size: 1.0625rem;
  font-weight: 600;
}

.featured-projects-title-content h1 {
  margin-top: -0.15rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.featured-projects-all-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 7vh 2.2vw;
}

.project-card {
  width: 92%;
  height: 92%;
  max-height: fit-content;
  overflow: auto;
  border-radius: 2rem;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

.project-card h2 {
  margin-bottom: 0.5rem;
}

.project-card p {
  color: #b6b3b3;
}

.project-card h2 a img {
  height: 1.7rem;
  width: 1.7rem;
}

.project-card h2 a:hover svg {
  transform: translate(-2px) translateX(2px);
  transition: transform 0.3s ease;
}

.project-card h2 a:hover svg polygon {
  /* fill: #e5202b; */
  transform: translateY(-2px) translateX(2px);
  transition: transform 0.3s ease;
}

.project-card h2 a svg,
.project-card h2 a svg polygon {
  transition: transform 0.3s ease;
}

.project-card.study-spot {
  background: linear-gradient(
      0deg,
      rgba(0, 208, 255, 0.25) 0%,
      rgba(0, 208, 255, 0.25) 100%
    ),
    rgba(253, 251, 251, 0.05);
}

.project-card.movie-collabs {
  background: linear-gradient(
      0deg,
      rgba(0, 118, 231, 0.25) 0%,
      rgba(0, 118, 231, 0.25) 100%
    ),
    rgba(253, 251, 251, 0.05);
}

.project-card.matlab-fitness-tracker {
  background: linear-gradient(
      0deg,
      rgba(227, 94, 12, 0.25) 0%,
      rgba(227, 94, 12, 0.25) 100%
    ),
    rgba(253, 251, 251, 0.05);
}

.project-card.easy-cycle {
  background: linear-gradient(
      0deg,
      rgba(58, 181, 74, 0.25) 0%,
      rgba(58, 181, 74, 0.25) 100%
    ),
    rgba(253, 251, 251, 0.05);
}

.project-card.farm-fresh {
  background: linear-gradient(
      0deg,
      rgba(238, 146, 81, 0.25) 0%,
      rgba(238, 146, 81, 0.25) 100%
    ),
    rgba(253, 251, 251, 0.05);
}

.project-card.personal-website {
  background: linear-gradient(
      0deg,
      rgba(194, 25, 37, 0.3) 0%,
      rgba(194, 25, 37, 0.3) 100%
    ),
    rgba(253, 251, 251, 0.05);
}

.project-card a {
  text-decoration: none;
  z-index: 9999;
}

.github-container {
  display: flex;
  width: fit-content;
  height: 3.0625rem;
  padding: 0.3rem 1.5rem;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  border-radius: 2.875rem;
  border: 1px solid #fff;
}

.github-container p {
  color: white;
}

.contact-me {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  background: rgba(253, 251, 251, 0.05);
  z-index: 99;
  gap: 1.5rem;

  margin-bottom: 3rem;

  position: relative;
  padding: 1rem 3rem 5rem 3rem;
}

.contact-me svg {
  position: relative;
  left: -6%;
  top: -10%;
  margin: 0;
  margin-bottom: -1rem;
}

.contact-me h3 {
  font-size: 1.3125rem;
  font-weight: 500;
}

.contact-me-vector {
  position: relative;
  top: 1rem;
  left: 1rem;
}

.contact-me-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-me-details h1 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  color: #fff;
  font-size: 3.5625rem;
  font-weight: 600;
  line-height: 113.023%;
  margin-bottom: 3.1875rem;
}

.contact-me-details-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.contact-me-details-info-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-me-details-info-row .frame {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.9375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 6.25rem;
  border: 1px solid #fff;
}

.contact-me-details-info-row .frame img {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}

.contact-me-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 50%;
  position: relative;
  padding-top: 3.5rem;
}

.contact-me-form input[type="name"],
.contact-me-form input[type="email"],
.contact-me-form select,
.contact-me-form textarea {
  width: 100%;
  padding: 1rem;
  border: 0.13rem solid #e5202b;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: white;
  border-radius: 0.625rem;
  border: 1px solid #b6b3b3;
  background: none;
}

.contact-me-form input[type="name"] {
  padding-top: 1rem;
}

.contact-me-form input[type="submit"] {
  background: #c21925;
  border-radius: 0.625rem;
  width: 30%;
  min-width: fit-content;
  color: white;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0;
}

.contact-me-form input[type="submit"]:hover {
  background-color: #dc1923;
}

input:focus,
textarea {
  outline: none !important;
}

.footer {
  width: 100%;
  display: flex;
  padding: 1rem 0rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1.25rem;
  background: rgba(253, 251, 251, 0.05);
  margin-bottom: 3rem;
}

.footer p {
  font-size: 1.05rem;
  font-weight: 700;
}

/* Smaller width window handling */
@media all and (max-width: 1180px) {
  .about .red-introduction-top-middle {
    left: 25%;
  }

  .featured-projects .red-featured-projects {
    left: 25%;
  }

  .contact-me .red-contact-me {
    top: 300%;
  }
}

/* Larger height window handling */
@media all and (min-height: 830px) {
  .about .red-introduction-top-middle {
    left: 35%;
  }

  .experience .red-experience {
    top: 111%;
  }

  .skills .red-skills {
    top: 111%;
  }

  .featured-projects .red-featured-projects {
    top: 138%;
  }
}

@media all and (max-width: 950px) {
  .featured-projects-all-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 7vh 2.2vw;
  }
}

@media all and (max-width: 900px) {
  .red-introduction-top-right,
  .red-introduction-top-left,
  .red-introduction-top-middle,
  .red-introduction-bottom-left,
  .red-introduction-bottom-right,
  .red-experience,
  .red-skills,
  .red-featured-projects,
  .red-contact-me {
    display: none;
  }
}

/* Mobile handling */
@media all and (max-width: 800px) {
  body {
    margin: 4rem auto 0 auto;
    padding: 0;
    width: 100%;
    max-width: 88vw;
    height: 100%;
    background: #111111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }

  .about {
    gap: 2rem;
  }

  .details h1 {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    text-align: center;
    font-size: 3rem;
    margin: 0;
  }

  .featured-projects-title-content h1,
  .contact-me-details h1 {
    font-size: 2rem;
  }

  .experience-and-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .experience,
  .skills {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }

  .featured-projects-all-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    gap: 4vh 1vw;
  }

  .project-card {
    width: 100%;
    height: fit-content;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }

  .contact-me {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    z-index: 99;
    gap: 0.5rem;
    background: none;
    margin-bottom: -1rem;

    position: relative;
    margin: 0 auto 3rem auto;
    padding: 0;
    text-align: left;
  }

  .contact-me svg {
    position: relative;
    left: -15%;
    top: 1vh;
    margin: 0;
    margin-bottom: -1rem;
  }

  .contact-me-details h1 {
    font-size: 2rem;
  }

  .contact-me-details-info {
    display: none;
  }

  .contact-me-form {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .contact-me-form form {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .contact-me-form input[type="submit"] {
    width: 100%;
    padding: 1rem;
  }
}
